@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');


#characterQuotePara {
background-color: #11130ec7;
}


/* MOBILE */
#paraName {
    font-family: 'Ringbearer';
    color: #856638;
    font-size: 2.5rem;
}

#paraQuote {
    font-family: 'Bilbo', cursive;
    color: #F3C05C;
    font-size: 2rem;
}

#characterQuotePara {
    pointer-events: none
}


/* DESKTOP AND ABOVE */

/* @media only screen and (max-width: 600px) {

    h1 {
        font-size: 1rem;
    }

    #characterQuotePara {
        position: relative;
        

    }
    
} */